@page "/EntradaHuacales/Create"

@inject EntradaHuacalesServices entradaHuacalesServices;
@inject NavigationManager navigationManager;

@rendermode InteractiveServer

<PageTitle>Crear Entrada Huacales</PageTitle>


<EditForm Model="huacal" OnValidSubmit="Guardar">
    <DataAnnotationsValidator/>

    <div class="container">
        

        <div class="card shadow-lg">
            <div class="card-header text-center">Crear Entrada de Huacal </div>

            <div class="card-body">

                <div class="mb-3">
                    <label><strong>ID Entrada de Huacal</strong></label>
                    <InputNumber class="form-control" @bind-Value=huacal.IdEntrada readonly></InputNumber>
                   
                </div>

                <div class="mb-3">
                    <label><strong>Nombres de cliente</strong></label>
                    <InputText class="form-control" @bind-Value=huacal.NombreCliente></InputText>
                    <ValidationMessage For="@(() => huacal.NombreCliente)" />
                </div>

                <div class="mb-3">
                    <label><strong>Fecha</strong></label>
                    <InputDate class="form-control" @bind-Value=huacal.Fecha></InputDate>
                    <ValidationMessage For="@(() => huacal.Fecha)" />
                </div>

                <div class="mb-3">
                    <label><strong>Cantidad de huacales</strong></label>
                    <InputNumber class="form-control" @bind-Value=huacal.Cantidad></InputNumber>
                    <ValidationMessage For="@(() => huacal.Cantidad)" />

                </div>
                

                <div class="mb-3">
                    <label><strong>Precio</strong></label>
                    <InputNumber class="form-control" @bind-Value=huacal.Precio></InputNumber>
                    <ValidationMessage For="@(() => huacal.Precio)" />
                   
                </div>



            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary bi bi-floppy">Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public EntradaHuacales huacal { get; set; } = new EntradaHuacales();
    public string ErrorMessage { get; set; } = string.Empty;

    public async Task Guardar()
    {
        var creado = await entradaHuacalesServices.Guardar(huacal);



        if (creado)
        {
            ErrorMessage = "Se ha creado Correctamente";
            navigationManager.NavigateTo("/EntradaHuacales/Index");
        }
        else
        {
            ErrorMessage = "No se ha podido crear";
        }
    }

}
